.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
            font-size: large;
        }

        .menu {
            display: flex;
            gap: 20px;
            a {
                text-decoration: none;
                font-weight: 500;
            }
        }

        .social {
            display: flex;
            gap: 20px;
            padding-right: 20px;

            img {
                width: 23px;
                height: 23px;
            }
        }
    }
}
